<article class="container" ng-app="Platzi" ng-controller="BaseCtrl">
  <h1>Hello world!</h1>

  <ul>
    <li ng-repeat="thing in things">
      <span>{{thing.name}}</span>
    </li>
  </ul>
</article>
